# Venture Funding with Deep Learning

You work as a risk management associate at Alphabet Soup, a venture capital firm. Alphabet Soup’s business team receives many funding applications from startups every day. This team has asked you to help them create a model that predicts whether applicants will be successful if funded by Alphabet Soup.

The business team has given you a CSV containing more than 34,000 organizations that have received funding from Alphabet Soup over the years. With your knowledge of machine learning and neural networks, you decide to use the features in the provided dataset to create a binary classifier model that will predict whether an applicant will become a successful business. The CSV file contains a variety of information about these businesses, including whether or not they ultimately became successful.

## Instructions:

The steps for this challenge are broken out into the following sections:

* Prepare the data for use on a neural network model.

* Compile and evaluate a binary classification model using a neural network.

* Optimize the neural network model.

### Prepare the Data for Use on a Neural Network Model 

Using your knowledge of Pandas and scikit-learn’s `StandardScaler()`, preprocess the dataset so that you can use it to compile and evaluate the neural network model later.

Open the starter code file, and complete the following data preparation steps:

1. Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.   

2. Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.
 
3. Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

4. Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course. 

5. Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset. 

6. Split the features and target sets into training and testing datasets.

7. Use scikit-learn's `StandardScaler` to scale the features data.

### Compile and Evaluate a Binary Classification Model Using a Neural Network

Use your knowledge of TensorFlow to design a binary classification deep neural network model. This model should use the dataset’s features to predict whether an Alphabet Soup&ndash;funded startup will be successful based on the features in the dataset. Consider the number of inputs before determining the number of layers that your model will contain or the number of neurons on each layer. Then, compile and fit your model. Finally, evaluate your binary classification model to calculate the model’s loss and accuracy. 
 
To do so, complete the following steps:

1. Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

2. Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

> **Hint** When fitting the model, start with a small number of epochs, such as 20, 50, or 100.

3. Evaluate the model using the test data to determine the model’s loss and accuracy.

4. Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`. 

### Optimize the Neural Network Model

Using your knowledge of TensorFlow and Keras, optimize your model to improve the model's accuracy. Even if you do not successfully achieve a better accuracy, you'll need to demonstrate at least two attempts to optimize the model. You can include these attempts in your existing notebook. Or, you can make copies of the starter notebook in the same folder, rename them, and code each model optimization in a new notebook. 

> **Note** You will not lose points if your model does not achieve a high accuracy, as long as you make at least two attempts to optimize the model.

To do so, complete the following steps:

1. Define at least three new deep neural network models (the original plus 2 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

2. After finishing your models, display the accuracy scores achieved by each model, and compare the results.

3. Save each of your models as an HDF5 file.

In [44]:
# Imports
import pandas as pd
import tensorflow as tf
from tensorflow.keras.layers import Dense
from tensorflow.keras.models import Sequential
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder

---

## Prepare the data to be used on a neural network model

### Step 1: Read the `applicants_data.csv` file into a Pandas DataFrame. Review the DataFrame, looking for categorical variables that will need to be encoded, as well as columns that could eventually define your features and target variables.

In [45]:
# Upload credit_card_transactions.csv to Colab
from google.colab import files

csv_file = files.upload()

Saving applicants_data.csv to applicants_data (1).csv

In [46]:
# Read the applicants_data.csv file from the Resources folder into a Pandas DataFrame
applicant_data_df = pd.read_csv('applicants_data.csv')

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [47]:
# Review the data types associated with the columns
# YOUR CODE HERE
applicant_data_df.dtypes

EIN                        int64
NAME                      object
APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

### Step 2: Drop the “EIN” (Employer Identification Number) and “NAME” columns from the DataFrame, because they are not relevant to the binary classification model.

In [48]:
# Drop the 'EIN' and 'NAME' columns from the DataFrame
applicant_data_df = applicant_data_df.drop(columns=['EIN','NAME'])

# Review the DataFrame
# YOUR CODE HERE
applicant_data_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [49]:
display(applicant_data_df.dtypes)
display(applicant_data_df.columns)

APPLICATION_TYPE          object
AFFILIATION               object
CLASSIFICATION            object
USE_CASE                  object
ORGANIZATION              object
STATUS                     int64
INCOME_AMT                object
SPECIAL_CONSIDERATIONS    object
ASK_AMT                    int64
IS_SUCCESSFUL              int64
dtype: object

Index(['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'STATUS', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS',
       'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

### Step 3: Encode the dataset’s categorical variables using `OneHotEncoder`, and then place the encoded variables into a new DataFrame.

In [50]:
from pandas._libs.tslibs import dtypes
# Create a list of categorical variables 
categorical_variables = list(applicant_data_df.dtypes[applicant_data_df.dtypes=="object"].index)

# Display the categorical variables list
# YOUR CODE HERE
categorical_variables

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT',
 'SPECIAL_CONSIDERATIONS']

In [51]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

In [52]:
# Encode the categorcal variables using OneHotEncoder
encoded_data = enc.fit_transform(applicant_data_df[categorical_variables])

In [53]:
# Create a DataFrame with the encoded variables
encoded_df = pd.DataFrame(
    encoded_data,
    columns = enc.get_feature_names_out(categorical_variables)
)
# Review the DataFrame
# YOUR CODE HERE
display(encoded_df.head())

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0

### Step 4: Add the original DataFrame’s numerical variables to the DataFrame containing the encoded variables.

> **Note** To complete this step, you will employ the Pandas `concat()` function that was introduced earlier in this course.

In [54]:
# Add the numerical variables from the original DataFrame to the one-hot encoding DataFrame
encoded_df = pd.concat([encoded_df, applicant_data_df.drop(columns=categorical_variables)], axis = 1)
   

# Review the Dataframe
# YOUR CODE HERE
encoded_df.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT,IS_SUCCESSFUL
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,1
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590,1
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000,0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692,1
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590,1

### Step 5: Using the preprocessed data, create the features (`X`) and target (`y`) datasets. The target dataset should be defined by the preprocessed DataFrame column “IS_SUCCESSFUL”. The remaining columns should define the features dataset.

In [55]:
# Define the target set y using the IS_SUCCESSFUL column
y = encoded_df['IS_SUCCESSFUL']

# Display a sample of y
# YOUR CODE HERE
y[:5]

0    1
1    1
2    0
3    1
4    1
Name: IS_SUCCESSFUL, dtype: int64

In [56]:
# Define features set X by selecting all columns but IS_SUCCESSFUL
X = encoded_df.drop(columns=["IS_SUCCESSFUL"])

# Review the features DataFrame
# YOUR CODE HERE
X.head()

,APPLICATION_TYPE_T10,APPLICATION_TYPE_T12,APPLICATION_TYPE_T13,APPLICATION_TYPE_T14,APPLICATION_TYPE_T15,APPLICATION_TYPE_T17,APPLICATION_TYPE_T19,APPLICATION_TYPE_T2,APPLICATION_TYPE_T25,APPLICATION_TYPE_T29,...,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y,STATUS,ASK_AMT
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,108590
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,5000
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,6692
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1,142590

### Step 6: Split the features and target sets into training and testing datasets.

In [57]:
# Split the preprocessed data into a training and testing dataset
# Assign the function a random_state equal to 1
X_train, X_test, y_train, y_test = train_test_split(X,y, random_state=1)

### Step 7: Use scikit-learn's `StandardScaler` to scale the features data.

In [58]:
# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the scaler to the features training dataset
X_scaler = scaler.fit(X_train)

# Fit the scaler to the features training dataset
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

---

## Compile and Evaluate a Binary Classification Model Using a Neural Network

### Step 1: Create a deep neural network by assigning the number of input features, the number of layers, and the number of neurons on each layer using Tensorflow’s Keras.

> **Hint** You can start with a two-layer deep neural network model that uses the `relu` activation function for both layers.

In [60]:
# Define the the number of inputs (features) to the model
number_input_features = len(X_train.iloc[0])

# Review the number of features
number_input_features

116

In [61]:
# Define the number of neurons in the output layer
number_output_neurons = 1

In [62]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1 =  (number_input_features + 1) // 2 

# Review the number hidden nodes in the first layer
hidden_nodes_layer1

58

In [63]:
# Define the number of hidden nodes for the second hidden layer
hidden_nodes_layer2 =  (hidden_nodes_layer1 + 1) // 2

# Review the number hidden nodes in the second layer
hidden_nodes_layer2

29

In [64]:
# Create the Sequential model instance
nn = Sequential()

In [65]:
# Add the first hidden layer
# YOUR CODE HERE
nn.add(Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu"))

In [66]:
# Add the second hidden layer
# YOUR CODE HERE
nn.add(Dense(units=hidden_nodes_layer2, activation="relu"))

In [67]:
# Add the output layer to the model specifying the number of output neurons and activation function
# YOUR CODE HERE
nn.add(Dense(units=1, activation="sigmoid"))

In [68]:
# Display the Sequential model summary
# YOUR CODE HERE
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 58)                6786

 dense_1 (Dense)             (None, 29)                1711

 dense_2 (Dense)             (None, 1)                 30

=================================================================
Total params: 8,527
Trainable params: 8,527
Non-trainable params: 0
_________________________________________________________________

### Step 2: Compile and fit the model using the `binary_crossentropy` loss function, the `adam` optimizer, and the `accuracy` evaluation metric.

In [69]:
# Compile the Sequential model
# YOUR CODE HERE
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [77]:
# Fit the model using 50 epochs and the training data
# YOUR CODE HERE
fit_model = nn.fit(X_train_scaled, y_train, epochs=50)

Epoch 1/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5317 - accuracy: 0.7408
Epoch 2/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5320 - accuracy: 0.7416
Epoch 3/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7413
Epoch 4/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5315 - accuracy: 0.7418
Epoch 5/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5312 - accuracy: 0.7417
Epoch 6/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5314 - accuracy: 0.7413
Epoch 7/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7413
Epoch 8/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7422
Epoch 9/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5307 - accuracy: 0.7419
Epoch 10/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5310 - accuracy: 0.7417
Epoch 11/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7409
Epoch 12/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5306 - accuracy: 0.7424
Epoch 13/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7417
Epoch 14/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5305 - accuracy: 0.7416
Epoch 15/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5306 - accuracy: 0.7416
Epoch 16/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5302 - accuracy: 0.7424
Epoch 17/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7416
Epoch 18/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5301 - accuracy: 0.7425
Epoch 19/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5303 - accuracy: 0.7416
Epoch 20/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5301 - accuracy: 0.7416
Epoch 21/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7422
Epoch 22/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5297 - accuracy: 0.7423
Epoch 23/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7420
Epoch 24/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5300 - accuracy: 0.7430
Epoch 25/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5298 - accuracy: 0.7419
Epoch 26/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5297 - accuracy: 0.7423
Epoch 27/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5297 - accuracy: 0.7419
Epoch 28/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5291 - accuracy: 0.7430
Epoch 29/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5295 - accuracy: 0.7421
Epoch 30/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5290 - accuracy: 0.7428
Epoch 31/50
804/804 [==============================] - 2s 3ms/step - loss: 0.5290 - accuracy: 0.7420
Epoch 32/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5291 - accuracy: 0.7422
Epoch 33/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5285 - accuracy: 0.7428
Epoch 34/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5287 - accuracy: 0.7423
Epoch 35/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5287 - accuracy: 0.7418
Epoch 36/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7427
Epoch 37/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7424
Epoch 38/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7428
Epoch 39/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5288 - accuracy: 0.7431
Epoch 40/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7425
Epoch 41/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5284 - accuracy: 0.7419
Epoch 42/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5286 - accuracy: 0.7424
Epoch 43/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5285 - accuracy: 0.7428
Epoch 44/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5283 - accuracy: 0.7419
Epoch 45/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5278 - accuracy: 0.7430
Epoch 46/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5285 - accuracy: 0.7414
Epoch 47/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5280 - accuracy: 0.7431
Epoch 48/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5281 - accuracy: 0.7440
Epoch 49/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5281 - accuracy: 0.7432
Epoch 50/50
804/804 [==============================] - 2s 2ms/step - loss: 0.5278 - accuracy: 0.7418

### Step 3: Evaluate the model using the test data to determine the model’s loss and accuracy.

In [78]:
# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5577 - accuracy: 0.7306 - 335ms/epoch - 1ms/step
Loss: 0.5576924681663513, Accuracy: 0.7306122183799744

### Step 4: Save and export your model to an HDF5 file, and name the file `AlphabetSoup.h5`.

In [79]:
# Set the model's file path
file_path = 'Alphabet.h5'

# Export your model to a HDF5 file
# YOUR CODE HERE
nn.save(file_path)

---

## Optimize the neural network model

### Step 1: Define at least three new deep neural network models (resulting in the original plus 3 optimization attempts). With each, try to improve on your first model’s predictive accuracy.

> **Rewind** Recall that perfect accuracy has a value of 1, so accuracy improves as its value moves closer to 1. To optimize your model for a predictive accuracy as close to 1 as possible, you can use any or all of the following techniques:
>
> * Adjust the input data by dropping different features columns to ensure that no variables or outliers confuse the model.
>
> * Add more neurons (nodes) to a hidden layer.
>
> * Add more hidden layers.
>
> * Use different activation functions for the hidden layers.
>
> * Add to or reduce the number of epochs in the training regimen.

### Alternative Model 1

In [105]:
# Define the the number of inputs (features) to the model
number_input_features_A1 = len(X_train.iloc[0])

# Review the number of features
number_input_features_A1

116

In [114]:
# Define the number of neurons in the output layer
number_output_neurons_A1 = 4

In [115]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A1 = (number_input_features + number_output_neurons_A1) // 2 

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A1

60

In [116]:
# Create the Sequential model instance
nn_A1 = Sequential()

In [117]:
# First hidden layer
# YOUR CODE HERE
nn_A1.add(Dense(units=hidden_nodes_layer1_A1, input_dim=number_input_features, activation="relu"))


# Output layer
# YOUR CODE HERE
nn_A1.add(Dense(units=number_output_neurons, activation="sigmoid"))

# Check the structure of the model
# YOUR CODE HERE
nn_A1.summary()

Model: "sequential_4"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_29 (Dense)            (None, 60)                7020

 dense_30 (Dense)            (None, 1)                 61

=================================================================
Total params: 7,081
Trainable params: 7,081
Non-trainable params: 0
_________________________________________________________________

In [118]:
# Compile the Sequential model
nn_A1.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [119]:
# Fit the model using 50 epochs and the training data
fit_model_A1 = nn_A1.fit(X_train_scaled, y_train, epochs=75)

Epoch 1/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5850 - accuracy: 0.7165
Epoch 2/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5570 - accuracy: 0.7293
Epoch 3/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5531 - accuracy: 0.7291
Epoch 4/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5506 - accuracy: 0.7315
Epoch 5/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5505 - accuracy: 0.7295
Epoch 6/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5491 - accuracy: 0.7321
Epoch 7/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5481 - accuracy: 0.7317
Epoch 8/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5471 - accuracy: 0.7331
Epoch 9/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5468 - accuracy: 0.7324
Epoch 10/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5453 - accuracy: 0.7319
Epoch 11/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5457 - accuracy: 0.7331
Epoch 12/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5456 - accuracy: 0.7339
Epoch 13/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5444 - accuracy: 0.7341
Epoch 14/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5442 - accuracy: 0.7343
Epoch 15/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5440 - accuracy: 0.7339
Epoch 16/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5434 - accuracy: 0.7340
Epoch 17/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7338
Epoch 18/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5431 - accuracy: 0.7352
Epoch 19/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7340
Epoch 20/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5423 - accuracy: 0.7350
Epoch 21/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5427 - accuracy: 0.7339
Epoch 22/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5424 - accuracy: 0.7358
Epoch 23/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5414 - accuracy: 0.7359
Epoch 24/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7346
Epoch 25/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5410 - accuracy: 0.7347
Epoch 26/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5413 - accuracy: 0.7352
Epoch 27/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5415 - accuracy: 0.7346
Epoch 28/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5408 - accuracy: 0.7358
Epoch 29/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5409 - accuracy: 0.7351
Epoch 30/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5405 - accuracy: 0.7359
Epoch 31/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5399 - accuracy: 0.7368
Epoch 32/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7356
Epoch 33/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7367
Epoch 34/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7361
Epoch 35/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5400 - accuracy: 0.7363
Epoch 36/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5394 - accuracy: 0.7358
Epoch 37/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7358
Epoch 38/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5395 - accuracy: 0.7367
Epoch 39/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5391 - accuracy: 0.7370
Epoch 40/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7364
Epoch 41/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5392 - accuracy: 0.7363
Epoch 42/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5389 - accuracy: 0.7361
Epoch 43/75
804/804 [==============================] - 2s 3ms/step - loss: 0.5388 - accuracy: 0.7364
Epoch 44/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5391 - accuracy: 0.7374
Epoch 45/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5387 - accuracy: 0.7365
Epoch 46/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5379 - accuracy: 0.7369
Epoch 47/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5383 - accuracy: 0.7381
Epoch 48/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5384 - accuracy: 0.7371
Epoch 49/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7377
Epoch 50/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7373
Epoch 51/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5377 - accuracy: 0.7373
Epoch 52/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5378 - accuracy: 0.7365
Epoch 53/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7377
Epoch 54/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5374 - accuracy: 0.7364
Epoch 55/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7371
Epoch 56/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7381
Epoch 57/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5375 - accuracy: 0.7382
Epoch 58/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5369 - accuracy: 0.7374
Epoch 59/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7383
Epoch 60/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5371 - accuracy: 0.7371
Epoch 61/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7378
Epoch 62/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5367 - accuracy: 0.7371
Epoch 63/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7376
Epoch 64/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5369 - accuracy: 0.7371
Epoch 65/75
804/804 [==============================] - 2s 2ms/step - loss: 0.5367 - accuracy: 0.7385
Epoch 66/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5366 - accuracy: 0.7383
Epoch 67/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7376
Epoch 68/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7381
Epoch 69/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5360 - accuracy: 0.7367
Epoch 70/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7385
Epoch 71/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5363 - accuracy: 0.7383
Epoch 72/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5358 - accuracy: 0.7382
Epoch 73/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7382
Epoch 74/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5361 - accuracy: 0.7378
Epoch 75/75
804/804 [==============================] - 1s 2ms/step - loss: 0.5353 - accuracy: 0.7397

#### Alternative Model 2

In [120]:
# Define the the number of inputs (features) to the model
number_input_features_A2 = len(X_train.iloc[0])

# Review the number of features
number_input_features_A2

116

In [121]:
# Define the number of neurons in the output layer
number_output_neurons_A2 = 1

In [122]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer1_A2 = (number_input_features_A1 + number_input_features_A2) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer1_A2

116

In [124]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer2_A2 = (hidden_nodes_layer1_A1 + hidden_nodes_layer1_A2) // 2


# Review the number of hidden nodes in the first layer
hidden_nodes_layer2_A2

88

In [126]:
# Define the number of hidden nodes for the first hidden layer
hidden_nodes_layer3_A2 = (hidden_nodes_layer1_A2) // 2

# Review the number of hidden nodes in the first layer
hidden_nodes_layer3_A2

58

In [127]:
# Create the Sequential model instance
nn_A2 = Sequential()

In [128]:
# First hidden layer
# YOUR CODE HERE
nn_A2.add(Dense(units=hidden_nodes_layer1_A2, input_dim=number_input_features, activation="relu"))
nn_A2.add(Dense(units=hidden_nodes_layer2_A2, activation="relu"))
# Output layer
# YOUR CODE HERE
nn_A2.add(Dense(units=number_output_neurons, activation="linear"))
# Check the structure of the model
# YOUR CODE HERE
nn_A2.summary()

Model: "sequential_5"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_31 (Dense)            (None, 116)               13572

 dense_32 (Dense)            (None, 88)                10296

 dense_33 (Dense)            (None, 1)                 89

=================================================================
Total params: 23,957
Trainable params: 23,957
Non-trainable params: 0
_________________________________________________________________

In [129]:
# Compile the model
# YOUR CODE HERE
nn_A2.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [130]:
# Fit the model
# YOUR CODE HERE
fit_model_A2 = nn_A2.fit(X_train_scaled,y_train,epochs=150)

Epoch 1/150
804/804 [==============================] - 2s 2ms/step - loss: 1.0746 - accuracy: 0.6934
Epoch 2/150
804/804 [==============================] - 2s 2ms/step - loss: 1.0648 - accuracy: 0.7087
Epoch 3/150
804/804 [==============================] - 2s 2ms/step - loss: 1.0498 - accuracy: 0.7123
Epoch 4/150
804/804 [==============================] - 2s 2ms/step - loss: 1.0172 - accuracy: 0.7039
Epoch 5/150
804/804 [==============================] - 2s 2ms/step - loss: 0.9292 - accuracy: 0.7123
Epoch 6/150
804/804 [==============================] - 2s 2ms/step - loss: 0.8651 - accuracy: 0.7173
Epoch 7/150
804/804 [==============================] - 2s 2ms/step - loss: 0.8590 - accuracy: 0.7261
Epoch 8/150
804/804 [==============================] - 2s 2ms/step - loss: 0.8283 - accuracy: 0.7177
Epoch 9/150
804/804 [==============================] - 2s 2ms/step - loss: 0.8073 - accuracy: 0.7180
Epoch 10/150
804/804 [==============================] - 2s 2ms/step - loss: 0.8561 - accuracy: 0.7172
Epoch 11/150
804/804 [==============================] - 2s 2ms/step - loss: 0.7582 - accuracy: 0.7227
Epoch 12/150
804/804 [==============================] - 2s 2ms/step - loss: 0.7665 - accuracy: 0.7257
Epoch 13/150
804/804 [==============================] - 2s 2ms/step - loss: 0.7580 - accuracy: 0.7261
Epoch 14/150
804/804 [==============================] - 2s 2ms/step - loss: 0.7814 - accuracy: 0.7231
Epoch 15/150
804/804 [==============================] - 2s 2ms/step - loss: 0.7990 - accuracy: 0.7246
Epoch 16/150
804/804 [==============================] - 2s 2ms/step - loss: 0.8027 - accuracy: 0.7231
Epoch 17/150
804/804 [==============================] - 2s 2ms/step - loss: 0.7623 - accuracy: 0.7255
Epoch 18/150
804/804 [==============================] - 2s 2ms/step - loss: 0.7502 - accuracy: 0.7281
Epoch 19/150
804/804 [==============================] - 2s 3ms/step - loss: 0.7775 - accuracy: 0.7195
Epoch 20/150
804/804 [==============================] - 2s 2ms/step - loss: 0.7163 - accuracy: 0.7300
Epoch 21/150
804/804 [==============================] - 2s 2ms/step - loss: 0.7521 - accuracy: 0.7279
Epoch 22/150
804/804 [==============================] - 2s 3ms/step - loss: 0.7544 - accuracy: 0.7278
Epoch 23/150
804/804 [==============================] - 2s 2ms/step - loss: 0.7281 - accuracy: 0.7162
Epoch 24/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6804 - accuracy: 0.7287
Epoch 25/150
804/804 [==============================] - 2s 2ms/step - loss: 0.7616 - accuracy: 0.7141
Epoch 26/150
804/804 [==============================] - 2s 2ms/step - loss: 0.7361 - accuracy: 0.7257
Epoch 27/150
804/804 [==============================] - 2s 2ms/step - loss: 0.7473 - accuracy: 0.7257
Epoch 28/150
804/804 [==============================] - 2s 2ms/step - loss: 0.7673 - accuracy: 0.7272
Epoch 29/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6920 - accuracy: 0.7325
Epoch 30/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6786 - accuracy: 0.7313
Epoch 31/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6851 - accuracy: 0.7306
Epoch 32/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6719 - accuracy: 0.7308
Epoch 33/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6635 - accuracy: 0.7333
Epoch 34/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6690 - accuracy: 0.7292
Epoch 35/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6710 - accuracy: 0.7306
Epoch 36/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6659 - accuracy: 0.7298
Epoch 37/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6568 - accuracy: 0.7281
Epoch 38/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6350 - accuracy: 0.7332
Epoch 39/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6673 - accuracy: 0.7294
Epoch 40/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6744 - accuracy: 0.7273
Epoch 41/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6753 - accuracy: 0.7285
Epoch 42/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6611 - accuracy: 0.7344
Epoch 43/150
804/804 [==============================] - 3s 3ms/step - loss: 0.6810 - accuracy: 0.7326
Epoch 44/150
804/804 [==============================] - 3s 4ms/step - loss: 0.6648 - accuracy: 0.7234
Epoch 45/150
804/804 [==============================] - 2s 3ms/step - loss: 0.6579 - accuracy: 0.7329
Epoch 46/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6534 - accuracy: 0.7317
Epoch 47/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6663 - accuracy: 0.7338
Epoch 48/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6728 - accuracy: 0.7198
Epoch 49/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6733 - accuracy: 0.7348
Epoch 50/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6846 - accuracy: 0.7245
Epoch 51/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6835 - accuracy: 0.7324
Epoch 52/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6829 - accuracy: 0.7198
Epoch 53/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6879 - accuracy: 0.7229
Epoch 54/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6370 - accuracy: 0.7345
Epoch 55/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6421 - accuracy: 0.7369
Epoch 56/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6438 - accuracy: 0.7366
Epoch 57/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6444 - accuracy: 0.7355
Epoch 58/150
804/804 [==============================] - 2s 2ms/step - loss: 0.7112 - accuracy: 0.7202
Epoch 59/150
804/804 [==============================] - 2s 2ms/step - loss: 0.7826 - accuracy: 0.7258
Epoch 60/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6900 - accuracy: 0.7151
Epoch 61/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6888 - accuracy: 0.7353
Epoch 62/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6720 - accuracy: 0.7339
Epoch 63/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6849 - accuracy: 0.7364
Epoch 64/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6799 - accuracy: 0.7335
Epoch 65/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6824 - accuracy: 0.7368
Epoch 66/150
804/804 [==============================] - 2s 2ms/step - loss: 0.7277 - accuracy: 0.7328
Epoch 67/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6964 - accuracy: 0.7244
Epoch 68/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6906 - accuracy: 0.7314
Epoch 69/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6727 - accuracy: 0.7364
Epoch 70/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6553 - accuracy: 0.7359
Epoch 71/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6585 - accuracy: 0.7331
Epoch 72/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6562 - accuracy: 0.7348
Epoch 73/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6471 - accuracy: 0.7359
Epoch 74/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6593 - accuracy: 0.7276
Epoch 75/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6771 - accuracy: 0.7338
Epoch 76/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6642 - accuracy: 0.7362
Epoch 77/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6643 - accuracy: 0.7371
Epoch 78/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6622 - accuracy: 0.7313
Epoch 79/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6548 - accuracy: 0.7343
Epoch 80/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6508 - accuracy: 0.7356
Epoch 81/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6458 - accuracy: 0.7365
Epoch 82/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6718 - accuracy: 0.7387
Epoch 83/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6488 - accuracy: 0.7367
Epoch 84/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6485 - accuracy: 0.7372
Epoch 85/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6521 - accuracy: 0.7378
Epoch 86/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6742 - accuracy: 0.7320
Epoch 87/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6662 - accuracy: 0.7259
Epoch 88/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6577 - accuracy: 0.7356
Epoch 89/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6455 - accuracy: 0.7377
Epoch 90/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6550 - accuracy: 0.7287
Epoch 91/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6600 - accuracy: 0.7380
Epoch 92/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6498 - accuracy: 0.7385
Epoch 93/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6515 - accuracy: 0.7369
Epoch 94/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6427 - accuracy: 0.7379
Epoch 95/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6516 - accuracy: 0.7368
Epoch 96/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6511 - accuracy: 0.7380
Epoch 97/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6466 - accuracy: 0.7353
Epoch 98/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6380 - accuracy: 0.7372
Epoch 99/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6512 - accuracy: 0.7389
Epoch 100/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6462 - accuracy: 0.7376
Epoch 101/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6474 - accuracy: 0.7358
Epoch 102/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6414 - accuracy: 0.7352
Epoch 103/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6401 - accuracy: 0.7372
Epoch 104/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6559 - accuracy: 0.7377
Epoch 105/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6608 - accuracy: 0.7311
Epoch 106/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6516 - accuracy: 0.7385
Epoch 107/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6594 - accuracy: 0.7372
Epoch 108/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6565 - accuracy: 0.7362
Epoch 109/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6610 - accuracy: 0.7386
Epoch 110/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6545 - accuracy: 0.7375
Epoch 111/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6488 - accuracy: 0.7373
Epoch 112/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6524 - accuracy: 0.7349
Epoch 113/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6458 - accuracy: 0.7392
Epoch 114/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6481 - accuracy: 0.7379
Epoch 115/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6526 - accuracy: 0.7382
Epoch 116/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6421 - accuracy: 0.7385
Epoch 117/150
804/804 [==============================] - 2s 3ms/step - loss: 0.6537 - accuracy: 0.7366
Epoch 118/150
804/804 [==============================] - 2s 3ms/step - loss: 0.6653 - accuracy: 0.7317
Epoch 119/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6449 - accuracy: 0.7371
Epoch 120/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6398 - accuracy: 0.7370
Epoch 121/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6803 - accuracy: 0.7358
Epoch 122/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6588 - accuracy: 0.7367
Epoch 123/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6431 - accuracy: 0.7362
Epoch 124/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6518 - accuracy: 0.7302
Epoch 125/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6495 - accuracy: 0.7379
Epoch 126/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6509 - accuracy: 0.7397
Epoch 127/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6631 - accuracy: 0.7246
Epoch 128/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6759 - accuracy: 0.7290
Epoch 129/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6442 - accuracy: 0.7382
Epoch 130/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6411 - accuracy: 0.7396
Epoch 131/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6427 - accuracy: 0.7396
Epoch 132/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6403 - accuracy: 0.7387
Epoch 133/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6370 - accuracy: 0.7401
Epoch 134/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6423 - accuracy: 0.7396
Epoch 135/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6386 - accuracy: 0.7386
Epoch 136/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6380 - accuracy: 0.7385
Epoch 137/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6408 - accuracy: 0.7373
Epoch 138/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6404 - accuracy: 0.7388
Epoch 139/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6485 - accuracy: 0.7375
Epoch 140/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6487 - accuracy: 0.7385
Epoch 141/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6521 - accuracy: 0.7389
Epoch 142/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6485 - accuracy: 0.7394
Epoch 143/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6418 - accuracy: 0.7383
Epoch 144/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6430 - accuracy: 0.7396
Epoch 145/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6412 - accuracy: 0.7385
Epoch 146/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6699 - accuracy: 0.7374
Epoch 147/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6669 - accuracy: 0.7324
Epoch 148/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6530 - accuracy: 0.7395
Epoch 149/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6428 - accuracy: 0.7399
Epoch 150/150
804/804 [==============================] - 2s 2ms/step - loss: 0.6356 - accuracy: 0.7394

### Step 2: After finishing your models, display the accuracy scores achieved by each model, and compare the results.

In [131]:
print("Original Model Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Original Model Results
268/268 - 0s - loss: 0.5577 - accuracy: 0.7306 - 344ms/epoch - 1ms/step
Loss: 0.5576924681663513, Accuracy: 0.7306122183799744

In [132]:
print("Alternative Model 1 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A1.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 1 Results
268/268 - 0s - loss: 0.5627 - accuracy: 0.7280 - 443ms/epoch - 2ms/step
Loss: 0.5626740455627441, Accuracy: 0.7280466556549072

In [133]:
print("Alternative Model 2 Results")

# Evaluate the model loss and accuracy metrics using the evaluate method and the test data
model_loss, model_accuracy = nn_A2.evaluate(X_test_scaled,y_test,verbose=2)

# Display the model loss and accuracy results
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

Alternative Model 2 Results
268/268 - 0s - loss: 0.6756 - accuracy: 0.7301 - 452ms/epoch - 2ms/step
Loss: 0.6756093502044678, Accuracy: 0.7301457524299622

### Step 3: Save each of your alternative models as an HDF5 file.

In [134]:
# Set the file path for the first alternative model
file_path = 'Alternative1.h5'

# Export your model to a HDF5 file
# YOUR CODE HERE
nn_A1.save(file_path)

In [135]:
# Set the file path for the second alternative model
file_path = 'Alternative.h5'

# Export your model to a HDF5 file
# YOUR CODE HERE
nn_A2.save(file_path)